*.[ao]
*.mo
*.la
*.lo
.deps
.libs

CMakeFiles
CMakeCache.txt
*.cmake
Makefile
Makefile.in
config.h

builder/build/
builder/www/

# Deb building artefacts
debian/.debhelper/
debian/files
debian/kasmvncserver.substvars
debian/kasmvncserver/
.pc
