[submodule "kasmweb"]
	path = kasmweb
	url = https://github.com/kasmtech/noVNC.git
	branch = master
[submodule "kasmvnc-functional-tests"]
	path = kasmvnc-functional-tests
	url = git@gitlab.com:kasm-technologies/internal/kasmvnc-functional-tests.git
