*.[ao]
*.mo
*.la
*.lo
.deps
.libs
*.swp

CMakeFiles
CMakeCache.txt
*.cmake
Makefile
Makefile.in
config.h

libjpeg-turbo/
xorg.build/
install_manifest.txt

builder/build/
builder/www/
spec/tmp

# Deb building artefacts
debian/.debhelper/
debian/files
debian/kasmvncserver.substvars
debian/kasmvncserver/
.pc
.vscode/

alpine/.abuild/kasmvnc_signing_key.rsa
alpine/.abuild/kasmvnc_signing_key.rsa.pub
alpine/packages/
